body { padding-bottom: 150px; font-family: 'Quicksand', sans-serif; background-image: url('../images/Big-Block-Engine-iphone-panoramic-wallpaper-ilikewallpaper_com.jpg');}

.jumbotron{margin-top: 20px;}



